<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block title %}
			{% if title %}
				<title>{{ title }} - {{ site.title }}</title>
			{% else %}
				<title>{{ site.title }}</title>
			{% endif %}
		{% endblock %}

		{% include "includes/favicons.njk" %}

		<link rel="stylesheet" href="/styles/app.min.css">

		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
