<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% if title %}
			<title>{{ title }} - {{ siteName }}</title>
		{% else %}
			<title>{{ siteName }}</title>
		{% endif %}

		{% include "includes/favicons.njk" %}

		<link rel="stylesheet" href="/styles/app.min.css">

		{% block head %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
