{% extends "layouts/base.njk" %}

{% block body %}
	<div class="dtw-wrapper">
		{% include "includes/navigation.njk" %}
		<div class="dtw-content">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}
