{% set isInLabCollection = ancestry.self | evaluate(isBaseLabCollection) %}
{% set baseAncestor = ancestry %}
{% if isInLabCollection %}
	{% set baseAncestor = ancestry.firstChild.ancestry %}
{% endif %}
<div class="row">
	{% for item in baseAncestor.parent.ancestry.members %}
		<section class="col-12 dtw-sidebar-section">
			<h5 class="dtw-type">
				{% if item.path === path %}
					<span class="dtw-active">{{ item.title }}</span>
				{% else %}
					<a href="{{ '/' ~ item.path }}">{{ item.title }} <i class="fa fa-angle-right"></i></a>
				{% endif %}
			</h5>
		</section>
	{% endfor %}
</div>
<div class="row">
	{% for collection, items in baseAncestor.siblings | groupby(getLabCollection) %}
		<section class="col-12 dtw-sidebar-section">
			<h5 class="dtw-type">{{ collection }}</h5>
			{% set itemsInCollection = items[0].ancestry.members %}
			{% for item in itemsInCollection | sort (false, false, 'title') %}
				<div class="dtw-sidebar-entry">
					{% if item.path === path %}
						<span class="dtw-active">{{ item.title }}</span>
					{% else %}
						<a href="{{ '/' ~ item.path }}">{{ item.title }}</a>
					{% endif %}
				</div>
			{% endfor %}
		</section>
	{% endfor %}
</div>
