<nav>
	<div class="dtw-left-navigation">
		<a href="/">Home</a>
		<a href="/projects">Projects</a>
		<a href="/writings">Writings</a>
		<a href="/wiki">Lab</a>
	</div>
	<div class="dtw-right-navigation">
		<a href="mailto:{{ contact.email }}">Get in touch!</a>
	</div>
</nav>
