<nav class="dtw-navigation">
	<ul class="list-unstyled list-inline dtw-left-navigation">
		<li class="list-inline-item"><a class="dtw-home-navigation" href="/">David Wood</a></li>
		{% for item in navigation | rejectattr("hidden") | selectattr("left") %}
			<li class="list-inline-item">
				<a href="{{ item.link }}">
					{% if item.icon %}<i class="fa fa-{{ item.icon }}"></i>{% endif %}
					{{ item.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<ul class="list-unstyled list-inline dtw-right-navigation">
		{% for item in navigation | rejectattr("hidden") | rejectattr("left") %}
			<li class="list-inline-item">
				<a href="{{ item.link }}">
					{% if item.icon %}<i class="fa fa-{{ item.icon }}"></i>{% endif %}
					{{ item.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>
