<nav>
	<div class="dtw-left-navigation">
		{% for item in navigation | selectattr("left") %}
			<a href="{{ item.link }}">{{ item.title }}</a>
		{% endfor %}
	</div>
	<div class="dtw-right-navigation">
		{% for item in navigation | rejectattr("left") %}
			<a href="{{ item.link }}">{{ item.title }}</a>
		{% endfor %}
	</div>
</nav>
