<meta property="og:title" content="{{ title }}" />
{% if collection == 'writings' %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ date }}" />
    <meta property="article:modified_time" content="{{ date }}" />
    <meta property="article:author" content="{{ name }}" />
    <meta property="article:section" content="Writings" />
    {% for tag in tags %}
        <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
{% else %}
    <meta property="og:type" content="website" />
{% endif %}
<meta property="og:url" content="{{ site.url ~ '/' ~ path }}" />
<meta property="og:image" content="{{ site.url ~ '/images/cover.jpg' }}" />
<meta property="og:description" content="{{ excerpt | striptags | unescape }}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:site_name" content="{{ name }}" />
