<div class="row dtw-section-introduction">
	<div class="col">
		<h1 class="dtw-title">{{ title }}</h1>
		<p class="dtw-description">{{ contents | safe }}</p>
		<p><a href="mailto:{{ contact.email }}">Get in touch!</a></p>
	</div>
</div>
