<div class="dtw-section-introduction">
	<div class="dtw-title">{{ title }}</div>
	<p class="dtw-description">{{ contents | safe }}</p>
	<p><a href="mailto:{{ contact.email }}">Get in touch!</a></p>
</div>
