{% extends "layouts/base.njk" %}

{% block title %}{{ site.title }}{% endblock %}
{% block body %}
    <div id="dtw-container">
        <div id="dtw-header">
            <div class="dtw-item-header">
                <h1 class="dtw-item-title dtw-animated">{{ title }}</h1>
                <h4 class="dtw-item-subtitle dtw-animated">{{ subtitle }}</h4>
            </div>
            <div class="dtw-animated">{{ contents | safe }}</div>
            <ul class="dtw-links dtw-align-center">
                {% for link in links %}
                    <li class="dtw-padded">
                        <a href="{{ link.link }}">
                            <i class="fa fa-{{ link.icon }}"></i> {{ link.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="dtw-content">
            <section class="dtw-section">
                <h1 class="dtw-section-title">Current</h1>
                {% for project in projects | selectattr('ongoing') | sort(true, false, 'startDate') %}
                    {% include "includes/project.njk" %}
                {% else %}
                    <p>There aren't any projects here just now, check back later.</p>
                {% endfor %}
            </section>
            <section class="dtw-section">
                <h1 class="dtw-section-title">Previous</h1>
                {% for project in projects | rejectattr('ongoing') | sort(true, false, 'startDate') %}
                    {% include "includes/project.njk" %}
                {% else %}
                    <p>There aren't any projects here just now, check back later.</p>
                {% endfor %}
            </section>
            <section class="dtw-section">
                <h1 class="dtw-section-title">Open Source Contributions</h1>
                {% for contrib in oss | sort(true, false, 'date') %}
                    {% include "includes/oss.njk" %}
                {% else %}
                    <p>There aren't any contributions here just now, check back later.</p>
                {% endfor %}
            </section>
            <section class="dtw-section">
                <h1 class="dtw-section-title">Writings</h1>
                {% for item in writings | sort(true, false, 'date') %}
                    {% include "includes/writing.njk" %}
                {% else %}
                    <p>There aren't any writings just now, check back later.</p>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
