{% extends "layouts/navigation.njk" %}

{% block content %}
	{% include "includes/section_introduction.njk" %}
	<div class="dtw-lab-items">
		<!--- 'wiki' is a global property added by metalsmith-collections --!>
		{% for section, items in lab | sort(false, false, 'title') | groupby(getLabCollection) %}
			<section class="dtw-lab-group dtw-lab-group-{{ section }}">
				<div class="dtw-title">{{ section }}</div>
				{% for item in items %}
					<article class="dtw-lab-item-listing">
						<a href="{{ '/' ~ item.path }}">
							<div class="dtw-title">{{ item.title }}</div>
							<div class="dtw-subtitle">Last updated on <span>{{ item.lastUpdated | date }}</span>, with <span>{{ item.wordCount }}</span> words (approx reading time of <span>{{ item.readingTime }}</span>).</div>
						</a>
					</article>
				{% endfor %}
			</section>
		{% endfor %}
	</div>
{% endblock %}
