{% extends "layouts/navigation.njk" %}

{% block content %}
	{% include "includes/section_introduction.njk" %}
	{% set sortedItems = lab | sort(false, false, 'title') %}
	{% set sectionedItems = sortedItems | filter(isBaseLabCollection, true) %}
	{% set nonSectionedItems = sortedItems | filter(isBaseLabCollection, false) %}
	<div class="dtw-lab-items">
		<div class="dtw-title">Standalone Items</div>
		{% for item in nonSectionedItems %}
			<article class="dtw-lab-item-listing">
				<a href="{{ '/' ~ item.path }}">
					<div class="dtw-title">{{ item.title }}</div>
					<div class="dtw-subtitle">Last updated on <span>{{ item.lastUpdated | date }}</span>, with <span>{{ item.wordCount }}</span> words (approx reading time of <span>{{ item.readingTime }}</span>).</div>
				</a>
			</article>
		{% endfor %}
	</div>
	<div class="dtw-lab-section-items">
		{% for section, items in sectionedItems | groupby(getLabCollection) %}
			<section class="dtw-lab-group dtw-lab-group-{{ section }}">
				<div class="dtw-title">{{ section }}</div>
				{% for item in items %}
					<article class="dtw-lab-item-listing">
						<a href="{{ '/' ~ item.path }}">
							<div class="dtw-title">{{ item.title }}</div>
							<div class="dtw-subtitle">Last updated on <span>{{ item.lastUpdated | date }}</span>, with <span>{{ item.wordCount }}</span> words (approx reading time of <span>{{ item.readingTime }}</span>).</div>
						</a>
					</article>
				{% endfor %}
			</section>
		{% endfor %}
	</div>
{% endblock %}
