{% extends "layouts/navigation.njk" %}

{% block content %}
	<div class="dtw-section-introduction">
		<div class="dtw-title">{{ title }}</div>
		<p class="dtw-description">{{ contents | safe }}</p>
	</div>
	<div class="dtw-projects">
		<!--- 'projects' is a global property added by metalsmith-collections --!>
		{% for project in projects %}
			<article class="dtw-project-listing dtw-background-{{ project.color }}">
				<a href="{{ '/' ~ project.path }}">
					<div class="dtw-title">{{ project.title }}</div>
					<div class="dtw-subtitle">{{ project.start_date | date }} - {{ project.end_date | date }}</div>
				</a>
				<div class="dtw-description">{{ project.contents | safe }}</div>
			</article>
		{% endfor %}
	</div>
{% endblock %}
