{% extends "layouts/navigation.njk" %}

{% block content %}
	{% include "includes/section_introduction.njk" %}
	<div class="dtw-projects">
		<!--- 'projects' is a global property added by metalsmith-collections --!>
		{% for project in projects %}
			<article class="dtw-project-listing">
				<div class="dtw-project-header dtw-background-{{ project.color }}">
					<div class="dtw-title">
						<a href="{{ '/' ~ project.path }}">{{ project.title }}</a>
					</div>
					<div class="dtw-subtitle">{{ project.start_date | date }} - {{ project.end_date | date }}</div>
				</div>
				<div class="dtw-description">{{ project.contents | safe }}</div>
			</article>
		{% endfor %}
	</div>
{% endblock %}
