{% extends "layouts/navigation.njk" %}

{% block content %}
	{% include "includes/section_introduction.njk" %}
	<div class="row dtw-projects">
		{% for project in projects | sort(true, false, 'startDate') %}
			<article class="col-12 col-md-6 dtw-project-listing">
				<h5 class="dtw-type">{{ project.type }}</h5>
				<h1 class="dtw-title">{{ project.title }}</h1>
				<h4 class="dtw-subtitle">
					<span>{{ project.startDate | date }}</span>{% if project.endDate %} - <span>{{ project.endDate | date }}{% endif %}</span>
				</h4>
				<p class="dtw-description">{{ project.content | safe }}</p>
				<ul class="list-unstyled list-inline">
					{% if project.sourceLink %}
						<li class="list-inline-item"><a href="{{ project.sourceLink }}">View Source</a></li>
					{% endif %}
					{% if project.visitLink %}
						<li class="list-inline-item"><a href="{{ project.visitLink }}">Visit Website</a></li>
					{% endif %}
				</ul>
			</article>
		{% endfor %}
	</div>
{% endblock %}
