{% extends "layouts/navigation.njk" %}

{% block content %}
	<div class="dtw-section-introduction">
		<p>{{ contents | safe }}</p>
	</div>
	<div class="dtw-items">
		<!--- 'wiki' is a global property added by metalsmith-collections --!>
		{% for item in wiki %}
			<article class="dtw-item-listing">
				<a href="{{ '/' ~ item.path }}">
					<div class="dtw-title">{{ item.title }}</div>
					<div class="dtw-subtitle">Written on <span>{{ item.date | date }}.</span></div>
				</a>
			</article>
		{% endfor %}
	</div>
{% endblock %}
