{% extends "layouts/navigation.njk" %}

{% block content %}
	{% include "includes/section_introduction.njk" %}
	<div class="row">
		{% for writing in writings %}
			<article class="col">
				<a href="{{ '/' ~ writing.path }}">
					<h1 class="dtw-title">{{ writing.title }}</h1>
					<h4 class="dtw-subtitle">
						Written on <span>{{ writing.date | date }}</span>, with <span>{{ writing.wordCount }}</span> words (approx reading time of <span>{{ writing.readingTime }}</span>).
					</h4>
				</a>
			</article>
		{% else %}
			<div class="col-12 dtw-no-entries">
				<p>There aren't any writings just now, check back later.</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
