{% extends "layouts/navigation.njk" %}

{% block content %}
	<div class="dtw-section-introduction">
		<p>{{ contents | safe }}</p>
	</div>
	<div class="dtw-items">
		<!--- 'writings' is a global property added by metalsmith-collections --!>
		{% for writing in writings %}
			<article class="dtw-item-listing">
				<a href="{{ '/' ~ writing.path }}">
					<div class="dtw-title">{{ writing.title }}</div>
					<div class="dtw-subtitle">Written on <span>{{ writing.date | date }}.</span></div>
				</a>
			</article>
		{% endfor %}
	</div>
{% endblock %}
