{% extends "layouts/navigation.njk" %}

{% block content %}
	{% include "includes/section_introduction.njk" %}
	<div class="dtw-writings">
		<!--- 'writings' is a global property added by metalsmith-collections --!>
		{% for writing in writings %}
			<article class="dtw-writing-listing">
				<a href="{{ '/' ~ writing.path }}">
					<div class="dtw-title">{{ writing.title }}</div>
					<div class="dtw-subtitle">Written on <span>{{ writing.date | date }}.</span></div>
				</a>
			</article>
		{% endfor %}
	</div>
{% endblock %}
