@import "variables";

@each $name, $colour in $colours {
	.dtw-background-#{$name} {
		@if (lightness($colour) > $background-threshold) {
			// Lighter background, dark text.
			color: $foreground-alt;
		} @else {
			// Darker background, light text.
			color: $foreground;
		}
		background-color: $colour;
	}
}
