@import "variables";

.dtw-lab-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.dtw-lab-group {
	margin-left: $wiki-margin / 2;
	margin-right: $wiki-margin / 2;
	margin-bottom: $wiki-margin;

	& > .dtw-title {
		text-transform: uppercase;
		color: $wiki-section-header;
		margin-bottom: $wiki-margin / 4;
	}

	@media (min-width: map-get($breakpoints, 'tablet')) {
		width: calc(50% - #{$wiki-margin});
	}

	@media (min-width: map-get($breakpoints, 'laptop-sm')) {
		width: calc(33% - #{$wiki-margin});
	}
}

.dtw-lab-item-listing {
	// Make the title bigger and with appropriate colour.
	.dtw-title {
		font-size: map-get($font-sizes, 'largest');
		color: $wiki-listing-title;
		margin-bottom: $wiki-margin / 8;
	}

	// Add subtitle colour - has two tones.
	.dtw-subtitle {
		color: $wiki-listing-subtitle;

		span {
			color: $wiki-listing-subtitle-alt;
		}
	}
}
