@import "variables";

.dtw-lab-section-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.dtw-lab-items {
	display: flex;
	flex-direction: column;

	& > .dtw-title {
		text-transform: uppercase;
		color: $wiki-section-header;
		margin-bottom: $wiki-margin / 4;
	}

	margin-bottom: $wiki-margin * 2;
	margin-left: $wiki-margin / 2;
}

.dtw-lab-group {
	margin-left: $wiki-margin / 2;
	margin-right: $wiki-margin / 2;
	margin-bottom: $wiki-margin;

	& > .dtw-title {
		text-transform: uppercase;
		color: $wiki-section-header;
		margin-bottom: $wiki-margin / 4;
	}

	@media (min-width: map-get($breakpoints, 'tablet')) {
		width: calc(50% - #{$wiki-margin});
	}

	@media (min-width: map-get($breakpoints, 'laptop-sm')) {
		width: calc(33% - #{$wiki-margin});
	}
}

.dtw-lab-item-listing {
	margin-bottom: $wiki-margin;

	// Make the title bigger and with appropriate colour.
	.dtw-title {
		font-size: map-get($font-sizes, 'largest');
		color: $wiki-listing-title;
		margin-bottom: $wiki-margin / 8;
	}

	// Add subtitle colour - has two tones.
	.dtw-subtitle {
		color: $wiki-listing-subtitle;

		span {
			color: $wiki-listing-subtitle-alt;
		}
	}
}

.dtw-entry {
	display: flex;
	flex-direction: row;

	.dtw-current {
		font-weight: 600;
	}

	.dtw-sidebar {
		margin-top: $wiki-margin / 2;
		margin-right: $wiki-margin / 2;
		width: calc(#{percentage(1/5)} - #{$wiki-margin / 2});

		.dtw-sidebar-section {
			margin-bottom: $wiki-margin / 2;
		}

		.dtw-sidebar-entry {
			padding-left: $wiki-padding / 2;
			color: $accent;
			margin-bottom: $wiki-margin / 4;
		}

		.dtw-title {
			text-transform: uppercase;
			color: $wiki-section-header;
			margin-bottom: $wiki-margin / 4;

			a {
				color: $wiki-listing-subtitle;

				&:hover {
					color: $wiki-listing-subtitle-alt;
				}
			}
		}

		@media (max-width: map-get($breakpoints, 'laptop-sm')) {
			display: none;
		}
	}

	.dtw-entry-content {
		margin-left: $wiki-margin / 2;
		width: calc(#{percentage(4/5)} - #{$wiki-margin / 2});

		@media (max-width: map-get($breakpoints, 'laptop-sm')) {
			margin-left: 0;
			width: 100%;
		}
	}
}
