// Colours
$colours: (
	torquoise: #1abc9c,
	greensea: #16a085,
	emerland: #2ecc71,
	nephritis: #27ae60,
	peterriver: #3498db,
	belizehole: #2980b9,
	amethyst: #9b59b6,
	wisteria: #8e44ad,
	wetasphalt: #34495e,
	midnightblue: #2c3e50,
	sunflower: #f1c40f,
	orange: #f39c12,
	carrot: #e67e22,
	pumpkin: #d35400,
	alizarin: #e74c3c,
	pomegranate: #c0392b,
	clouds: #ecf0f1,
	silver: #bdc3c7,
	concrete: #95a5a6,
	asbestos: #7f8c8d
);

// Breakpoints
$breakpoints: (
	laptop-lg: 2560px,
	laptop-md: 1440px,
	laptop-sm: 1024px,
	tablet: 768px,
	mobile-lg: 425px,
	mobile-md: 375px,
	mobile-sm: 320px
);

// App
$background: #141414;
$background-alt: #fff;
$foreground: #fff;
$foreground-alt: #222;
$accent: map-get($colours, alizarin);
$accent-light: lighten($accent, 10%);
$font-stack:
	// Safari for OS X and iOS (San Francisco)
	-apple-system,
	// Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
	system-ui,
	// Chrome < 56 for OS X (San Francisco)
	BlinkMacSystemFont,
	// Windows
	"Segoe UI",
	// Android
	"Roboto",
	// Basic web fallback
	"Helvetica Neue", Arial, sans-serif !default;
$mono-font-stack: "Roboto Mono", $font-stack;

// Navigation
$navigation-item-foreground: #aaa;
$navigation-item-selected-foreground: #ccc;

// Homepage
$homepage-title-foreground: $foreground;
$homepage-subtitle-foreground: darken($foreground, 60%);
$homepage-body-foreground: darken($foreground, 20%);

// Item Listings
$item-listing-title: $foreground;
$item-listing-subtitle: darken($foreground, 40%);
$item-listing-subtitle-alt: darken($foreground, 20%);
