// Colours
$colours: (
	torquoise: #1abc9c,
	greensea: #16a085,
	emerland: #2ecc71,
	nephritis: #27ae60,
	peterriver: #3498db,
	belizehole: #2980b9,
	amethyst: #9b59b6,
	wisteria: #8e44ad,
	wetasphalt: #34495e,
	midnightblue: #2c3e50,
	sunflower: #f1c40f,
	orange: #f39c12,
	carrot: #e67e22,
	pumpkin: #d35400,
	alizarin: #e74c3c,
	pomegranate: #c0392b,
	clouds: #ecf0f1,
	silver: #bdc3c7,
	concrete: #95a5a6,
	asbestos: #7f8c8d
);

// Breakpoints
$breakpoints: (
	laptop-lg: 2560px,
	laptop-md: 1440px,
	laptop-sm: 1024px,
	tablet: 768px,
	mobile-lg: 425px,
	mobile-md: 375px,
	mobile-sm: 320px
);

// Margins & Padding
$margin: 2em;
$padding: 1em;

// Colours
$background: #141414;
$background-alt: #fff;
$foreground: #fff;
$foreground-alt: #222;
$accent: map-get($colours, alizarin);
$accent-light: lighten($accent, 10%);

// Fonts
$font-sizes: (
	largest: 2em,
	larger: 1.75em,
	large: 1.5em,
	normal: 1em,
	small: 0.75em
);
$font-stack:
	// Safari for OS X and iOS (San Francisco)
	-apple-system,
	// Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
	system-ui,
	// Chrome < 56 for OS X (San Francisco)
	BlinkMacSystemFont,
	// Windows
	"Segoe UI",
	// Android
	"Roboto",
	// Basic web fallback
	"Helvetica Neue", Arial, sans-serif !default;
$mono-font-stack: "Roboto Mono", $font-stack;

// Navigation
$navigation-padding: $padding * 2;
$navigation-item-margin: $margin / 4;
$navigation-icon-margin: $navigation-item-margin;
$navigation-item-foreground: #aaa;
$navigation-item-selected-foreground: #ccc;

// Homepage
$homepage-title-foreground: $foreground;
$homepage-subtitle-foreground: darken($foreground, 60%);
$homepage-body-foreground: darken($foreground, 20%);

// Section Headers
$section-header-title: darken($foreground, 20%);
$section-header-subtitle: darken($foreground, 40%);

// Backgrounds
$background-threshold: 75;

// Projects
$project-padding: $padding;
$project-margin: $margin;

// Writings
$writing-margin: $margin;
$writing-listing-title: $foreground;
$writing-listing-subtitle: darken($foreground, 40%);
$writing-listing-subtitle-alt: darken($foreground, 20%);

// Wiki
$wiki-section-header: $homepage-subtitle-foreground;
$wiki-listing-title: $writing-listing-title;
$wiki-listing-subtitle: $writing-listing-subtitle;
$wiki-listing-subtitle-alt: $writing-listing-subtitle-alt;
$wiki-margin: $margin;
$wiki-padding: $padding;
