@import "variables";

.dtw-wiki-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.dtw-wiki-group {
	width: calc(33% - #{$wiki_margin});
	margin-left: $wiki-margin / 2;
	margin-right: $wiki-margin / 2;
	margin-bottom: $wiki-margin;

	& > .dtw-title {
		text-transform: uppercase;
		color: $wiki-section-header;
		margin-bottom: $wiki-margin / 4;
	}
}

.dtw-wiki-item-listing {
	// Make the title bigger and with appropriate colour.
	.dtw-title {
		font-size: map-get($font-sizes, 'largest');
		color: $wiki-listing-title;
		margin-bottom: $wiki-margin / 8;
	}

	// Add subtitle colour - has two tones.
	.dtw-subtitle {
		color: $wiki-listing-subtitle;

		span {
			color: $wiki-listing-subtitle-alt;
		}
	}
}
