@import "variables";

.dtw-writing-listing {
	margin-bottom: $writing-margin;

	// Make the title bigger and with appropriate colour.
	.dtw-title {
		font-size: map-get($font-sizes, 'largest');
		color: $writing-listing-title;
		margin-bottom: $writing-margin / 8;
	}

	// Add subtitle colour - has two tones.
	.dtw-subtitle {
		color: $writing-listing-subtitle;

		span {
			color: $writing-listing-subtitle-alt;
		}
	}
}
