// Import libraries.
@import "font-awesome";
@import "normalize";

// Load our variables in.
@import "variables";
@import "fonts";

.dtw-container {
	// Add some padding for the content.
	padding: 0 3em;

	// Make the container fill the whole screen.
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	// Position child elements using Flexbox.
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	// Set the correct default colours.
	background: $background;
	color: $foreground;

	// Set a sane default font stack.
	font-family: $font-stack;
}

nav {
	// Navigation should be full width.
	width: 100%;

	// Navigation should be above everything else.
	z-index: 100;

	// Position child elements using Flexbox.
	display: flex;
	flex-direction: row;
	padding: 2em 0;

	justify-content: space-between;
	@media (min-width: $bp-mobile-lg) {
		justify-content: flex-start;
	}

	a {
		text-decoration: none;
		color: $navigation-item-foreground;
		padding-bottom: 0.5em;

		margin: 0 1em;
		&:first-child {
			// Remove left margin of the first child.
			margin: 0 1em 0 0;
		}
		&:last-child {
			// Remove right margin of second child.
			margin: 0 0 0 1em;
		}

		@media (max-width: $bp-mobile-lg) {
			margin: 0;
			text-align: center;
		}

		i {
			margin-right: 0.5em;
		}

		&:hover {
			border-bottom: 1px solid $accent;
			color: $navigation-item-selected-foreground;
		}
	}
}

.dtw-content {
	// Take up remaining space apart from navigation.
	flex: 2;

	// Position child elements using Flexbox.
	display: flex;
	flex-direction: column;
}

.dtw-introduction {
	// Take the most space on homepage.
	flex: 2;

	// Position child elements using Flexbox.
	display: flex;
	flex-direction: column;
	justify-content: center;

	// Increase base font size.
	font-size: 1.5em;
	@media (min-width: $bp-mobile-lg) {
		font-size: 1.75em;
	}
	@media (min-width: $bp-tablet) {
		font-size: 2em;
	}

	// Switch to Roboto Mono.
	font-family: $mono-font-stack;

	// Limit width so text wraps.
	max-width: 20em;

	// Colour our links.
	a {
		color: $accent;
		text-decoration: none;

		&:hover {
			color: $accent-light;
		}
	}

	// Colour the title and increase the size.
	.dtw-title {
		font-size: 2em;
		color: $homepage-title-foreground;
	}

	// Colour the subtitle and decrease the size.
	.dtw-subtitle {
		color: $homepage-subtitle-foreground;
		font-size: smaller;
		text-transform: uppercase;
	}

	// Colour the description.
	.dtw-description {
		font-weight: 300;
		color: $homepage-body-foreground;
	}
}

.dtw-links {
	// Decrease size of bottom links.
	font-size: smaller;
}
