@import "font-awesome";
@import "hybrid"; // Code highlighting style.
@import "fonts";

$backgroundColour: #141414;
$textColour: #fff;
$lineHeight: 1.5em;
$fontStack: "Roboto Mono", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
$fontWeight: 300;
$mutedColour: #444;
$mutedColour2: #777;
$accentColour: #e74c3c;
$sectionWidth: 45em;

body {
    padding: 1em;
    color: $textColour;
    background-color: $backgroundColour;
    font-family: $fontStack;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontStack;
    font-weight: $fontWeight;
}

a {
    color: $accentColour;
    text-decoration: none;

    &:hover {
        color: darken($accentColour, 10%);
    }
}

.dtw-muted {
    color: $mutedColour2;
}

ul.dtw-links {
    list-style: none;
    padding-left: 0;

    li {
         a::before,
         a::after {
            display: inline-block;
            opacity: 0;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
            -moz-transition: -moz-transform 0.3s, opacity 0.2s;
            transition: transform 0.3s, opacity 0.2s;
        }

         a::before {
            margin-right: 10px;
            content: '[';
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            transform: translateX(20px);
        }

         a::after {
            margin-left: 10px;
            content: ']';
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            transform: translateX(-20px);
        }

         a:hover::before,
         a:hover::after,
         a:focus::before,
         a:focus::after {
            opacity: 1;
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            transform: translateX(0px);
        }

        display: inline-block;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

#dtw-container {
    display: grid;
    grid-template-areas: "header"
                         "content";
    justify-items: center;
}

#dtw-header {
    grid-area: header;
    max-width: $sectionWidth;
    margin: 6em 0;

    #dtw-header-subtitle {
        color: $mutedColour2;
    }

    .dtw-links {
        margin-top: 2em;
    }
}

#dtw-content {
    grid-area: content;
    max-width: $sectionWidth;
    display: flex;
    flex-direction: column;
}

.dtw-section {
    margin-bottom: 3em;

    .dtw-section-title {
        text-transform: uppercase;
        color: $mutedColour;
        padding-bottom: 0.5em;
        border-bottom: 1px solid $mutedColour;
    }
}

.dtw-item {
    &:not(:last-child) {
        margin-bottom: 3em;
    }

    .dtw-item-description {
        color: darken($textColour, 20%);
    }
}

.dtw-item-header {
    h1, h2, h3, h4, h5, h6 {
        margin: 0.25em 0 0 0;
    }

    .dtw-item-subtitle {
        color: $mutedColour2;
    }
}

$colours: (
    torquoise: #1abc9c,
    greensea: #16a085,
    emerland: #2ecc71,
    nephritis: #27ae60,
    peterriver: #3498db,
    belizehole: #2980b9,
    amethyst: #9b59b6,
    wisteria: #8e44ad,
    wetasphalt: #34495e,
    midnightblue: #2c3e50,
    sunflower: #f1c40f,
    orange: #f39c12,
    carrot: #e67e22,
    pumpkin: #d35400,
    alizarin: #e74c3c,
    pomegranate: #c0392b,
    clouds: #ecf0f1,
    silver: #bdc3c7,
    concrete: #95a5a6,
    asbestos: #7f8c8d
);

@each $name, $color in $colours {
    .dtw-#{$name} {
        color: $color;
    }

    .dtw-links-#{$name} a {
        color: $color;
    }

    .dtw-#{$name}:hover {
        color: darken($color, 10%);
    }
}

.dtw-align-center {
    text-align: center;
}

.dtw-align-right {
    text-align: right;
}
