{% extends "layouts/navigation.njk" %}

{% block title %}{{ title }} - {{ getLabCollection(ancestry.self) | capitalize }} - {{ site.title }}{% endblock %}
{% block content %}
	<div class="row dtw-entry-header">
		<div class="col-12">
            <h4 class="dtw-type">
                {{ getLabCollection(ancestry.self) }}
            </h4>
			<h1 class="dtw-title">
				{{ title }}
			</h1>
			<h4 class="dtw-subtitle">
				Last updated on <span>{{ lastUpdated | date }}</span>, with <span>{{ wordCount }}</span> words (approx reading time of <span>{{ readingTime }}</span>).
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-3">
			{% include "includes/lab_sidebar.njk" %}
		</div>
		<div class="col-12 col-md-9">
			{{ contents | safe }}
		</div>
	</div>
{% endblock %}
