{% extends "layouts/navigation.njk" %}

{% block content %}
	<div class="row dtw-entry-header">
		<div class="col-12">
			<h1 class="dtw-title">
				{{ title }}
			</h1>
		</div>
	</div>
	<div class="row dtw-entry">
		<div class="col-12">
			{{ contents | safe }}
		</div>
	</div>
{% endblock %}
