{% extends "layouts/navigation.njk" %}

{% block content %}
	<div class="row dtw-entry-header">
		<div class="col-12">
			<h1 class="dtw-title">
				{{ title }}
			</h1>
			<h4 class="dtw-subtitle">
				Written on <span>{{ date | date }}</span>, with <span>{{ wordCount }}</span> words (approx reading time of <span>{{ readingTime }}</span>).
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			{{ contents | safe }}
		</div>
	</div>
{% endblock %}
